<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>请关注微信公众平台</title>
    <link type="text/css" rel="stylesheet" href="../addons/eso_sale/recouse/css/weui.css">
</head>
<body>
<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">支付成功</h2>
    </div>
    <div class="hd" style="text-align:center;">
        <p class="weui_msg_desc" style="color:#DE7C23;">为方便我们为您提供更好的服务,请关注『{$_W['account']['name']}』微信公众平台后查看产品详情</p>
        <img src="{$_W['account']['qrcode']}" alt="二维码" style="width:70%;" />
    </div>
</div>
</body>
</html>
