<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>支付成功请关注微信公众平台</title>
    <link type="text/css" rel="stylesheet" href="../addons/eso_sale/recouse/css/weui.css">
  </head>
  <body>
    <div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">支付成功</h2>
    </div>
    <div class="hd" style="text-align:center;">
       <p class="weui_msg_desc" style="color:#DE7C23;">请长按以下二维码关注微信公众平台</p>
      <img src="http://d.mobi365.cn/attachment//qrcode_12.jpg" alt="二维码" style="width:80%;" />
    </div>
    <!-- <div class="weui_opr_area">
        <p class="weui_btn_area">
            <a href="javascript:;" class="weui_btn weui_btn_primary">确定</a>
            <a href="javascript:;" class="weui_btn weui_btn_default">取消</a>
        </p>
    </div> -->
    <div class="weui_extra_area">
        <a href="{php echo $this->mturl('myorder')}">查看订单</a>
    </div>
</div>
  </body>
</html>
